@charset "UTF-8";
html,
body,
#root {
  height: 100%; }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }

.content {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto; }

.footer {
  min-height: 205px;
  position: relative;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto; }

.cb {
  clear: both; }

body {
  background-color: #fff;
  font-family: 'Roboto'; }

.btn-standart {
  background-color: #DC5748;
  color: #fff; }